[ui]
default-command = "status"
diff-formatter = ["difft", "--color=always", "$left", "$right"]

diff-editor = ":builtin"
merge-editor = "mergiraf"

[revsets]
log = "(trunk()..@):: | (trunk()..@)-"

[revset-aliases]
"closest_bookmark(to)" = "heads(::to & bookmarks())"
"default()" = "coalesce(trunk(),root())::present(@) | ancestors(visible_heads() & recent(), 5)"
"recent()" = "committer_date(after:'1 month ago')"

[aliases]
tug  = ["bookmark", "move", "--from", "closest_bookmark(@)",  "--to", "@" ]
tug- = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]
retrunk = ["rebase", "--onto", "trunk()"]
log-recent = [ "log", "-r", "default() & recent()" ]
